numpy==1.22.2
scipy==1.7.1
gekko==0.2.8
networkx==2.6.2
python-Levenshtein==0.12.1
gensim==4.0.0.
torch==1.11.0
six==1.16.0
torch-scatter -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-cluster -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-spline-conv -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-geometric -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torchmetrics==0.9.3