cython
numpy
defusedxml==0.7.1
elasticsearch==8.4.3
gekko==0.2.8
gensim==4.3.3
gqlalchemy==1.4.1
igraph==0.10.2
mysql-connector-python==8.0.32
networkx==2.6.2
oracledb==2.4.1
psycopg2-binary==2.9.9
pyodbc==5.1.0
python-Levenshtein==0.12.1
scikit-learn==1.5.2
scipy==1.13.0
six==1.16.0