numpy==1.22.2
scipy==1.7.1
gekko==0.2.8
networkx==2.6.2
python-Levenshtein==0.12.1
gensim==4.0.0.
torch==1.11.0+cpu 
torchvision==0.12.0+cpu 
torchaudio==0.11.0
six==1.16.0
torch-cluster==1.6.0
torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.14
torch-spline-conv==1.2.1
torchmetrics==0.9.3