name: "Package mage"

on:
  workflow_dispatch:
    inputs:
      mage_version:
        type: string
        description: "Mage version to build into the package (format: X.Y.Z)."
      mage_build_arch:
        type: choice
        description: "Mage build architecture"
        default: 'amd'
        options:
          - "amd"
          - "arm"
      mage_build_scope:
        type: choice
        description: "Mage build scope"
        default: 'with ML'
        options:
          - "with ML"
          - "without ML"
      mage_build_target:
        type: choice
        description: "Mage image target"
        default: 'prod'
        options:
          - "prod"
          - "dev"
      mage_build_type:
        type: choice
        description: "Mage build type"
        default: 'Release'
        options:
          - "Release"
          - "RelWithDebInfo"
      memgraph_version:
        type: string
        description: "Memgraph version to build into the package (format: X.Y.Z)."
      memgraph_download_link:
        description: "Memgraph package download link. Leave empty to use the official download link."
        default: ""
        type: string
      push_to_dockerhub:
        type: boolean
        description: "Push the image to DockerHub?"
        default: false

jobs:
  BuildMage:
    uses: ./.github/workflows/reusable_package_mage.yaml
    with:
      arch: ${{ github.event.inputs.mage_build_arch || 'amd' }}
      mage_build_scope: ${{ github.event.inputs.mage_build_scope || 'all' }}
      mage_build_target: ${{ github.event.inputs.mage_build_target_target || 'prod' }}
      mage_build_type: ${{ github.event.inputs.mage_build_type || 'Release' }}
      mage_version: ${{ github.event.inputs.mage_version }}
      memgraph_version: ${{ github.event.inputs.memgraph_version }}
      memgraph_download_link: ${{ github.event.inputs.memgraph_download_link || '' }}
      shorten_tag: 'true'
      force_release: 'true'
      push_to_dockerhub: ${{ github.event.inputs.push_to_dockerhub || 'false'}
    secrets: inherit
