name: 'Create release artifacts'

on:
  workflow_dispatch:
    inputs:
      os:
        type: choice
        default: 'ubuntu-24.04'
        description: "Operating system to build the image for"
        required: true
        options:
          - "ubuntu-24.04"
      mage_version:
        type: string
        description: "Mage version built into this image (format: X.Y.Z)"
        required: true
      memgraph_version:
        type: string
        description: "Memgraph version built into this image (format: X.Y.Z)"
        required: true
      official_memgraph:
        type: boolean
        description: "Use the official Memgraph bucket?"
        default: false

jobs:
  SetupNames:
    runs-on: ["self-hosted", "X64"]
    outputs:
      download_link_base: ${{ steps.base_link.outputs.link }}
      download_binary_name_base: ${{ steps.binary_name.outputs.name }}
    env:
      s3_link_base: ${{ github.event.inputs.official_memgraph == 'true' && 'https://' || 'https://s3.eu-west-1.amazonaws.com' }}
      s3_bucket: ${{ github.event.inputs.official_memgraph == 'true' && 'download.memgraph.com' || 'deps.memgraph.io' }}
    steps:
      - name: Set base memgraph download link
        id: base_link
        run: |
          echo "link=${{ env.s3_link_base }}/${{ env.s3_bucket }}/memgraph/v${{ github.event.inputs.memgraph_version }}/${{ github.event.inputs.os }}" >> $GITHUB_OUTPUT
      - name: Set binary name base
        id: binary_name
        run: |
          version=${{ github.event.inputs.memgraph_version }}
          echo "name=memgraph_${version%%-*}-1" >> $GITHUB_OUTPUT

  Artifact:
    needs: [SetupNames]
    strategy:
      fail-fast: false
      matrix:
        build_type: ["Release", "RelWithDebInfo"]
        build_arch: ["amd64", "arm64"]
        malloc: [false]
        include:
          - build_type: "RelWithDebInfo"
            rwid_ext: "-relwithdebinfo"
          - build_arch: "arm64"
            arm_ext: "-aarch64"
          - build_type: "Release"
            build_arch: "amd64"
            malloc: true
    uses: ./.github/workflows/reusable_package_mage.yaml
    with:
      arch: "${{ matrix.build_arch }}"
      mage_version: "${{ github.event.inputs.mage_version }}"
      mage_build_type: "${{ matrix.build_type }}"
      memgraph_version: "${{ github.event.inputs.memgraph_version }}"
      memgraph_download_link: "${{ needs.SetupNames.outputs.download_link_base }}${{ matrix.arm_ext }}${{ matrix.rwid_ext }}${{ matrix.malloc && '-malloc' || '' }}/${{ needs.SetupNames.outputs.download_binary_name_base }}_${{ matrix.build_arch }}.deb"
      shorten_tag: "true"
      force_release: "true"
      push_to_dockerhub: "false"
      push_to_s3: "true"
      s3_dest_bucket: "deps.memgraph.io"
      s3_dest_dir: "mage/v${{ github.event.inputs.mage_version}}"
      malloc: ${{ matrix.malloc }}
    secrets: inherit

