name: Reusable build and test

on: 
  workflow_call:
    inputs:
      arch:
        type: string
        description: "Architecture to build the image for (amd64/arm64)"
        required: true
      build_scope:
        type: string
        description: "Mage build scope"
        default: 'all'
      build_target:
        type: string
        description: "Mage build target"
        default: 'prod'
      memgraph_version:
        type: string
        description: "Memgraph version built into this image (format: X.Y.Z)"
        default: '2.21.0'
      memgraph_download_link:
        type: string
        description: "Memgraph package download link. Leave empty to use the official download link."
        required: false
      memgraph_ref:
        type: string
        description: "Memgraph submodule branch to build query modules from"
        default: 'master'
      memgraph_ref_update:
        type: string
        description: "Update Memgraph submodule to the latest commit"
        default: true

env:
  PY_VERSION: "3.9"
  CORE_COUNT: "8"
  MAGE_CONTAINER: "mage"
  MEMGRAPH_PORT: 7687
  NEO4J_PORT: 7688
  NEO4J_CONTAINER: "neo4j_test"
  OS: "debian-11"
  s3_region: "eu-west-1"

jobs:
  BuildAndTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout specific branch in submodule
        run: |
          cd cpp/memgraph
          git checkout ${{ inputs.memgraph_ref }}
          if [[ "${{ inputs.memgraph_ref_update }}" == "true" ]]; then
            git pull
          fi

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up and check memgraph download link
        run: |
          mg_url=${{ inputs.memgraph_download_link }}
          if [[ -z "${{ inputs.memgraph_download_link }}" ]]; then
            mg_url="s3://download.memgraph.com/memgraph/v${{ inputs.memgraph_version }}/$OS${{ inputs.arch == 'arm64' && '-aarch64' || '' }}/memgraph_${{ inputs.memgraph_version }}-1_${{ inputs.arch }}.deb"
          fi
          echo "Download link: $mg_url"
          url_protocol=${mg_url%%://*}
          if [[ $url_protocol == "s3" ]]; then
            echo "MEMGRAPH_S3_URI=${mg_url}" >> $GITHUB_ENV
          elif [[ $url_protocol == "https" ]]; then
            echo "Checking if the https link is valid"
            if curl --output /dev/null --silent --head --fail $mg_url; then
              echo "Memgraph download link is valid"
              echo "MEMGRAPH_OBJECT_URL=${mg_url}" >> $GITHUB_ENV 
            else
              echo "Memgraph download link is not valid"
              exit 1
            fi
          else
            echo "Invalid download link protocol, only supporting s3:// and https://"
            exit 1
          fi

      - name: Download memgraph binary (Object URL)
        if: env.MEMGRAPH_OBJECT_URL
        run: curl -L ${{ env.MEMGRAPH_OBJECT_URL }} > memgraph-${{ inputs.arch }}.deb
      
      - name: Setup AWS credentials
        if: env.MEMGRAPH_S3_URI
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.s3_region }}

      - name: Download memgraph binary (S3 URI)
        if: env.MEMGRAPH_S3_URI
        run: aws s3 cp ${{ env.MEMGRAPH_S3_URI }} memgraph-${{ inputs.arch }}.deb

      - name: Disk status before cleaning
        run: |
          df -h
          docker buildx du

      - name: Docker system prune
        run: |
          docker buildx prune --all -f
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /opt/hostedtoolcache/go
          sudo rm -rf /opt/hostedtoolcache

      - name: Rust library tests
        if: inputs.build_target == 'dev'
        run: |
          cd rust/rsmgp-sys
          cargo fmt -- --check
          cargo test

      - name: Build and run Memgraph MAGE:${{ inputs.build_target }}
        run: |

          DOCKER_BUILDKIT=1 docker buildx build \
          --tag memgraph-mage:${{ inputs.build_target }} \
          --target ${{ inputs.build_target }} \
          --platform linux/${{ inputs.arch }} \
          --file Dockerfile.${{ inputs.build_scope == 'without ML' && 'no_ML' || 'release' }} \
          --load .
          docker run -d -p ${{ env.MEMGRAPH_PORT }}:7687 --name ${{ env.MAGE_CONTAINER }} memgraph-mage:${{ inputs.build_target }} --telemetry-enabled=False

      - name: Set up C++
        run: |
          sudo apt update
          sudo apt install -y build-essential cmake libboost-all-dev

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PY_VERSION }}

      - name: Install Python test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./python/tests/requirements.txt

      - name: Build C++ modules
        run: |
          mkdir -p cpp/build
          cd cpp/build
          cmake ..
          make -j${{ env.CORE_COUNT }}

      - name: C++ Modules unit tests
        if: inputs.build_target == 'dev'
        run: |
          cd cpp/build
          ctest -j${{ env.CORE_COUNT }}

      - name: Python modules unit tests
        if: inputs.build_target == 'dev' && inputs.build_scope != 'without ML'
        env:
          PYTHONPATH: "$PWD/python"
        run: |
          docker exec -i -u root ${{ env.MAGE_CONTAINER }} bash -c "cd /mage/python/ && python3 -m pytest ."

      - name: Run End-to-end tests
        if: inputs.arch != 'arm64'
        env:
          PYTHONPATH: "$PWD/e2e"
        run: |
          cd e2e
          docker exec -i -u root ${{ env.MAGE_CONTAINER }} bash -c \
          "cd /mage/e2e/ && python3 -m pytest . -k 'not cugraph ${{ inputs.build_scope == 'without ML' && 'and not tgn' || '' }}'"

      - name: Run End-to-end correctness tests
        if: inputs.arch != 'arm64'
        env:
          PYTHONPATH: "$PWD/e2e"
        run: |
          docker run --rm \
          --name ${{ env.NEO4J_CONTAINER}}  \
          -p 7474:7474 -p ${{ env.NEO4J_PORT }}:7687 \
          --rm \
          -d \
          -v $HOME/neo4j/plugins:/plugins \
          --env NEO4J_AUTH=none  \
          -e NEO4J_apoc_export_file_enabled=true \
          -e NEO4J_apoc_import_file_enabled=true \
          -e NEO4J_apoc_import_file_use__neo4j__config=true  \
          -e NEO4JLABS_PLUGINS=\["apoc"\]  neo4j:5.10.0
          sleep 5
          python3 test_e2e_correctness.py --memgraph-port ${{ env.MEMGRAPH_PORT }} --neo4j-port ${{ env.NEO4J_PORT }}
          docker stop ${{ env.NEO4J_CONTAINER}}
