name: Build and Test

env:
  MG_VERSION: '1.4.0'
  PY_VERSION: '3.7'
  CORE_COUNT: '8'

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Cache Memgraph Docker image
      id: cache-memgraph-docker
      uses: actions/cache@v1
      with:
        path: ~/memgraph
        key: cache-memgraph-v${{ env.MG_VERSION }}-docker-image
    - name: Download Memgraph Docker image
      if: steps.cache-memgraph-docker.outputs.cache-hit != 'true'
      run: |
        mkdir ~/memgraph
        curl -L https://memgraph.com/download/memgraph/v${{ env.MG_VERSION }}/docker/memgraph-${{ env.MG_VERSION }}-community-docker.tar.gz > ~/memgraph/memgraph-docker.tar.gz
    - name: Load Memgraph Docker image
      run: |
        docker load -i ~/memgraph/memgraph-docker.tar.gz
    - name: Build project
      run: |
        docker build -t memgraph:mage .
    - name: Run Memgraph MAGE image
      run: |
        docker run -d -p 7687:7687 memgraph:mage --telemetry-enabled=False
    - name: Set up C++
      run: |
        sudo apt update
        sudo apt install -y build-essential cmake
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.PY_VERSION }}
    - name: Build C++ modules
      run: |
        mkdir -p cpp/build
        cd cpp/build
        cmake ..
        make -j${{ env.CORE_COUNT }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./python/tests/requirements.txt
        pip install -r ./python/requirements.txt
    - name: C++ Modules unit tests
      run: |
        cd cpp/build
        ctest -j${{ env.CORE_COUNT }}
    - name: Python modules unit tests
      env:
        PYTHONPATH: '$PWD/python'
      run: |
        cd python
        python -m pytest .
    - name: Test End-to-end
      env:
        PYTHONPATH: '$PWD/e2e'
      run: |
        cd e2e
        python -m pytest .

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: Rust library tests
      run: |
        cd rust/rsmgp-sys
        cargo fmt -- --check
        cargo test
    # TODO(gitbuda): Debug why it doesn't work on GHA.
    # - name: Run code coverage
    #   uses: actions-rs/tarpaulin@v0.1.3
    #   with:
    #     args: '--out Html --ignore-tests --root rust/rsmgp-sys --output-dir rust/rsmgp-sys'
    # - name: Archive code coverage results
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: rust-code-coverage-report
    #     path: rust/rsmgp-sys/tarpaulin-report.html
    - name: Rust example build
      run: |
        cd rust/rsmgp-example
        cargo fmt -- --check
        cargo build
