name: Build and Test

env:
  MG_VERSION: '1.4.0'
  PY_VERSION: '3.7'
  CORE_COUNT: '8'

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build project
      run: |
        docker build -t memgraph:mage --target dev .
    - name: Run Memgraph MAGE image
      run: |
        docker run -d -p 7687:7687 memgraph:mage
    - name: Set up C++
      run: |
        sudo apt update
        sudo apt install -y build-essential cmake
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.PY_VERSION }}
    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: Set up Rust - install Cargo tarpaulin # Unable to run https://github.com/actions-rs/tarpaulin from subdirectory.
      run: |
          cargo install cargo-tarpaulin
    - name: Build C++ modules
      run: |
        mkdir -p cpp/build
        cd cpp/build
        cmake ..
        make -j${{ env.CORE_COUNT }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./python/tests/requirements.txt
        pip install -r ./python/requirements.txt
    - name: C++ Modules unit tests
      run: |
        cd cpp/build
        ctest -j${{ env.CORE_COUNT }}
    - name: Python modules unit tests
      env:
        PYTHONPATH: '$PWD/python'
      run: |
        cd python
        python -m pytest .
    - name: Test End-to-end
      env:
        PYTHONPATH: '$PWD/e2e'
      run: |
        cd e2e
        python -m pytest .

    - name: Rust library tests
      run: |
        cd rust/rsmgp-sys
        cargo fmt -- --check
        cargo test
        RUST_BACKTRACE=1 cargo tarpaulin --out Html --ignore-tests

    - name: Rust example build
      run: |
        cd rust/rsmgp-example
        cargo fmt -- --check
        cargo build
